{% extends 'layout.html.twig' %}

{% block title %}Nos Spectacle{% endblock %}

{% block body %}
    <h1 class="mb-5">Nos spectacles</h1>

    <div class="container-fluid">
        <h2 class="spectacleDate">À venir : </h2>
        {% for spectacle in nextSpectacles %}
            <section class="row my-4">
                <div class="col-lg-5 p-3 {% if loop.index is even %} order-lg-1 {% endif %}">
                    <img class="imgAct"
                         src="
                        {% if spectacle.poster is null %}
                        {{ asset('build/circus-show.webp') }}
                        {% else %}
                        {{ vich_uploader_asset(spectacle, 'posterFile') }}
                        {% endif %}"
                         alt="{{ spectacle.name }}">
                </div>
                <div class="col-lg-7 p-3 d-flex flex-column {% if loop.index is even %} order-lg-0 {% endif %}">
                    <h2 class="text-center">{{ spectacle.name }}</h2>
                    <div class="m-2 p-2 row">
                        <div class="divTarif col-lg-8 py-3 mb-4 mb-lg-0">
                            <p><i class="fas fa-map-marker-alt primary-color mr-3"></i>{{ spectacle.place }}</p>
                            <p><i class="far fa-calendar-alt primary-color mr-3"></i>
                                {{ spectacle.date|format_datetime('long', 'none', locale='fr') }}
                            </p>
                            <p><i class="far fa-clock primary-color mr-3"></i>
                                {{ spectacle.date|format_datetime('none', 'short', locale='fr') }}
                            </p>
                            <p><i class="fas fa-ticket-alt primary-color mr-3"></i>
                                {{ spectacle.capacity }} places
                            </p>
                        </div>
                        <div class="col-lg-3 offset-lg-1 divTarif py-3 d-flex flex-column">
                            <i class="fas fa-euro-sign primary-color align-self-center mb-4"></i>
                            <ul class="tarif">
                                <li> Enfants : {{ price.kid }}</li>
                                <li> Adulte : {{ price.adult }}</li>
                                <li> Sénior : {{ price.senior }}</li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-turquoise align-self-center btnReservation" href="{{ path('spectacle_show', {'id': spectacle.id}) }}">Réserver</a>
                </div>
            </section>
        {% endfor %}

        <h2 class="spectacleDate">Précédemment : </h2>
        {% for spectacle in previousSpectacles %}
            <section class="row my-4">
                <div class="col-lg-5 p-3 {% if (loop.index+(nextSpectacles|length)) is even %} order-lg-1 {% endif %}">
                    <img class="imgAct"
                         src="
                        {% if spectacle.poster is null %}
                        {{ asset('build/circus-show.webp') }}
                        {% else %}
                        {{ vich_uploader_asset(spectacle, 'posterFile') }}
                        {% endif %}"
                         alt="{{ spectacle.name }}">
                </div>
                <div class="col-lg-7 p-3 d-flex flex-column  {% if (loop.index+(nextSpectacles|length)) is even %} order-lg-0 {% endif %}">
                    <h2 class="text-center">{{ spectacle.name }}</h2>
                    <div class="m-2 p-2 row">
                        <div class="divTarif col-lg-8 py-3 mb-4 mb-lg-0">
                            <p><i class="fas fa-map-marker-alt primary-color mr-3"></i>{{ spectacle.place }}</p>
                            <p><i class="far fa-calendar-alt primary-color mr-3"></i>
                                {{ spectacle.date|format_datetime('long', 'none', locale='fr') }}
                            </p>
                            <p><i class="far fa-clock primary-color mr-3"></i>
                                {{ spectacle.date|format_datetime('none', 'short', locale='fr') }}
                            </p>
                            <p><i class="fas fa-ticket-alt primary-color mr-3"></i>
                                {{ spectacle.capacity }} places
                            </p>
                        </div>
                        <div class="col-lg-3 offset-lg-1 divTarif py-3 d-flex flex-column">
                            <i class="fas fa-euro-sign primary-color align-self-center mb-4"></i>
                            <ul class="tarif">
                                <li> Enfants : {{ price.kid }}</li>
                                <li> Adulte : {{ price.adult }}</li>
                                <li> Sénior : {{ price.senior }}</li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-turquoise align-self-center btnReservation" href="{{ path('spectacle_show', {'id': spectacle.id}) }}">Réserver</a>
                </div>
            </section>
        {% endfor %}
    </div>


{% endblock %}
