{% extends 'layout.html.twig' %}

{% block title %}Nos Spectacle{% endblock %}

{% block body %}
    <h1>Nos spectacles</h1>
    {% for spectacle in spectacles %}
        <section class="row my-4">
            <div class="col-lg-6 p-5">
                <img class="imgSectionHome"
                     src="
                        {% if spectacle.poster is null %}
                        {{ asset('build/circus-show.webp') }}
                        {% else %}
                        {{ vich_uploader_asset(spectacle, 'posterFile') }}
                        {% endif %}"
                     alt="{{ spectacle.name }}">
            </div>
            <div class="col-lg-6 p-5  d-flex flex-column">
                <h2 class="text-center primary-color">{{ spectacle.name }}</h2>
                <div class="m-4 p-4">
                    <p>Lieu : {{ spectacle.place }}</p>
                    <p>Date :
                        {{ spectacle.date|format_datetime('long', 'none', locale='fr') }} à
                        {{ spectacle.date|format_datetime('none', 'short', locale='fr') }}
                    </p>
                    <p>Places disponibles : {{ spectacle.capacity }}</p>
                </div>
                <a class="btn btn-turquoise align-self-center btnReservation" href="{{ path('spectacle_show', {'id': spectacle.id}) }}">Réserver</a>
            </div>
        </section>
    {% endfor %}
{% endblock %}
