{% extends 'base.html.twig' %}

{% block title %}Spectacle index{% endblock %}

{% block body %}
    <h1>Spectacle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Place</th>
                <th>Date</th>
                <th>Capacity</th>
                <th>Poster</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spectacle in spectacles %}
            <tr>
                <td>{{ spectacle.id }}</td>
                <td>{{ spectacle.name }}</td>
                <td>{{ spectacle.place }}</td>
                <td>{{ spectacle.date ? spectacle.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ spectacle.capacity }}</td>
                <td>{{ spectacle.poster }}</td>
                <td>{{ spectacle.updatedAt ? spectacle.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('spectacle_show', {'id': spectacle.id}) }}">show</a>
                    <a href="{{ path('spectacle_edit', {'id': spectacle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spectacle_new') }}">Create new</a>
{% endblock %}
