{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ booking.user }}</td>
            </tr>
            <tr>
                <th>NumberTicket</th>
                <td>{{ booking.numberTicket }}</td>
            </tr>
            <tr>
                <th>TotalPrice</th>
                <td>{{ booking.totalPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">back to list</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
