{% extends 'layout.html.twig' %}

{% block title %}{{ booking.user }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5">{{ booking.user }}</h1>
        <table class="table w-100">
            <tbody>
            <tr>
                <th>Personne</th>
                <td>{{ booking.user }}</td>
            </tr>
            <tr>
                <th>Spectacle</th>
                <td><a href="{{ path('admin_spectacle_show', {'id': booking.spectacle.id}) }}">{{ booking.spectacle.name }}</a></td>
            </tr>
            <tr>
                <th>Tickets</th>
                <td>{{ booking.numberTicket }}</td>
            </tr>
            <tr>
                <th>Prix total</th>
                <td>{{ booking.totalPrice }}</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-around">
            <a class="btn btn-turquoise" href="{{ path('admin_booking_index') }}">Retour</a>
            <a class="btn btn-turquoise" href="{{ path('admin_booking_edit', {'id': booking.id}) }}">Modifier</a>
            {{ include('booking/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
